---
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";

interface Props {
  currencyCode: string;
  currencyName: string;
  defaultCode: string;
}

const { currencyCode, currencyName, defaultCode } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/flags/*.webp",
);

const imagePath = `/src/assets/images/flags/${currencyCode.slice(0, 2).toLowerCase()}.webp`;
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/images/flags/*.webp"`,
  );
---

<option
  value={currencyCode}
  selected={currencyCode === defaultCode}
>
  <Image
    src={images[imagePath]()}
    alt=`${currencyCode}`
    class="flag"
  />
  <span class="currency-code">{currencyCode}</span>
  <span class="currency-name">{currencyName}</span>
</option>

<style lang="scss">
  option {
    background: #202022;
    gap: 12px;
    padding-block: var(--space-sm);
    &::checkmark {
      color: var(--color-body-text-light);
      margin-left: auto;
      order: 2;
    }
  }
  .flag {
    block-size: 20px;
    border-radius: 50%;
    flex-shrink: 0;
    inline-size: 20px;
    object-fit: cover;
  }

  .currency-code {
    color: var(--color-body-text-light);
    font-size: 14px;
  }

  .currency-name {
    color: #9d9d9d;
    font-size: 12px;
  }
</style>
