---
import FlagImage from "./FlagImage.astro";
import { Icon } from "astro-icon/components";
interface Props {
  currencyCode: string;
  currencyName: string;
  currencySymbol: string;
  defaultCode: string;
}

const { currencyCode, currencyName, currencySymbol, defaultCode } = Astro.props;

const countryCode = `${currencyCode.slice(0, 2).toLowerCase()}`;
---

<li
  class="currency-option"
  role="option"
  id=`option-${currencyCode}`
  aria-selected="false"
  data-value={currencyCode}
  data-symbol={currencySymbol}
  data-selected={currencyCode === defaultCode}
>
  <FlagImage countryCode={countryCode} />
  <span class="currency-code">{currencyCode}</span>
  <span class="currency-name muted-text">{currencyName}</span>
  <Icon
    name="icon-check"
    aria-hidden="true"
  />
</li>

<style lang="scss">
  .currency-option {
    align-items: center;
    background: var(--color-background-surface);
    border: 1px solid transparent;
    border-radius: var(--radius-4);
    display: flex;
    gap: var(--space-sm);
    padding-block: calc(var(--space-sm) * 1.25);

    &[hidden] {
      display: none !important;
    }

    &:hover {
      border-color: var(--color-body-text-muted);
      cursor: pointer;
    }

    [data-icon="icon-check"] {
      display: none;
      margin-inline-start: auto;
    }

    &[aria-selected="true"] {
      [data-icon="icon-check"] {
        display: block;
      }
    }
  }

  .currency-code {
    color: var(--color-body-text);
    font-size: 14px;
  }

  .currency-name {
    font-size: 12px;
    text-wrap: nowrap;
  }
</style>
