---
import { Icon } from "astro-icon/components";
import currencies from "@data/currencies.json";
import CurrencyOption from "@components/CurrencyOption.astro";
import FlagImage from "@components/FlagImage.astro";

const { defaultCurrency = "USD", name, id } = Astro.props;
---

<div
  class="custom-select"
  id=`select-${id}`
>
  <input
    type="hidden"
    name={name}
    id={id}
    value={defaultCurrency}
  />
  <button
    class="select-button"
    type="button"
  >
    <div class="selected-content">
      <FlagImage countryCode={defaultCurrency.slice(0, 2).toLowerCase()} />
      <span class="currency-code">{defaultCurrency}</span>
      <Icon
        name="icon-chevron-down"
        class="picker-icon"
      />
    </div>
  </button>

  <div class="dropdown-menu visually-hidden">
    <div class="input-wrapper">
      <input
        type="text"
        class="input-search"
        name="currencySearch"
        placeholder="Search currencies..."
      />
      <Icon name="icon-search" />
    </div>
    <ul class="currencies-list">
      <li class="currencies-list__label">
        <span>POPULAR</span><span>
          {currencies.filter((c) => c.popular).length}
        </span>
      </li>
      {
        currencies
          .filter((c) => c.popular)
          .map((currency) => (
            <CurrencyOption
              currencyCode={currency.iso_code}
              currencyName={currency.name}
              currencySymbol={currency.symbol}
              defaultCode={defaultCurrency}
            />
          ))
      }
      <li class="currencies-list__label">
        <span>OTHER CURRENCIES</span><span>
          {currencies.filter((c) => !c.popular).length}
        </span>
      </li>
      {
        currencies
          .filter((c) => !c.popular)
          .map((currency) => (
            <CurrencyOption
              currencyCode={currency.iso_code}
              currencyName={currency.name}
              currencySymbol={currency.symbol}
              defaultCode={defaultCurrency}
            />
          ))
      }
    </ul>
  </div>
</div>

<style lang="scss">
  .custom-select {
    position: relative;
    width: fit-content;
  }

  .selected-content {
    align-items: center;
    display: flex;
    gap: var(--space-sm);
  }

  .dropdown-menu {
    background-color: var(--color-background-surface);
    border-radius: var(--radius-8);
    color: var(--color-body-text-muted);
    font-size: 12px;
    right: 0;
    margin-block-start: var(--space-sm);
    max-height: 400px;
    overflow-y: auto;
    padding: var(--space-sm);
    position: absolute;
    top: 100%;
    width: fit-content;
    z-index: 900;
  }

  .input-wrapper {
    position: relative;
  }
  .input-search {
    background: none;
    border: 1px solid var(--color-body-text-muted);
    border-radius: var(--radius-6);
    outline: none;
    padding: calc(var(--space-sm) * 1.25);
    padding-inline-start: calc(var(--space-sm) * 4);
    font-size: 12px;
    width: stretch;

    &:focus-visible {
      border-color: var(--color-primary);
    }
  }

  [data-icon="icon-search"] {
    height: 0.75rem;
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
  }

  .currencies-list__label {
    @include flex-between;
    border-bottom: 1px solid var(--color-border);
    letter-spacing: 0.5px;
    line-height: 1.2;
    margin-block: var(--space-xs);
    padding-block: var(--space-sm);
  }
</style>
