---

---

<section
  class="favorites"
  id="favorites"
>
  <div class="container">
    <div class="card">
      <div class="top-row">
        <h2>Pinned Pairs</h2>
        <p><span id="num-favorites">0</span> FAVORITES</p>
      </div>
      <ul class="favorites__list"></ul>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  import storageManager from "@lib/storageManager";

  const frankfurterAPI = new FrankfurterAPI();
  const favoritesList = document.querySelector(
    ".favorites__list",
  ) as HTMLElement;
  const numFavorites = document.getElementById("num-favorites") as HTMLElement;

  function updateFavorites() {
    const favoritesArr = storageManager.getFavorites();
    if (favoritesArr && favoritesArr.length > 0) {
      numFavorites.textContent = `${favoritesArr.length}`;
      favoritesList.replaceChildren();
      favoritesArr.map((favorite) => {
        const listItem = generateListItem(favorite);
        favoritesList.appendChild(listItem);
      });
    }
  }

  function generateListItem(favorite: any) {
    const listItem = document.createElement("li");
    listItem.classList.add("card--inner");
    listItem.classList.add("favorites__item");
    const currencyPair = document.createElement("div");
    currencyPair.classList.add("favorites-item__currency-pair");
    currencyPair.innerHTML = `<p>${favorite.base}</p><span>-></span><p>${favorite.target}</p>`;
    listItem.appendChild(currencyPair);

    const rightSide = document.createElement("div");
    rightSide.classList.add("favorites-item__right-side");
    const rightContent = document.createElement("div");
    rightContent.classList.add("right-side__content");
    rightSide.appendChild(rightContent);

    getRateInformation(favorite.base, favorite.target).then((data) => {
      const decimals =
        data.close >= 1000
          ? 1
          : data.close >= 100
            ? 2
            : data.close >= 10
              ? 3
              : 4;
      rightContent.innerHTML = `<p>${data.close.toFixed(decimals)}</p>
      <p class="percent-change ${data.changePercentage > 0 ? "positive" : data.changePercentage < 0 ? "negative" : ""}">
        <span>${data.changePercentage > 0 ? "▲" : data.changePercentage < 0 ? "▼" : "-"}</span>
         ${data.changePercentage > 0 ? "+" : ""}${data.changePercentage.toFixed(2)}%</p>`;
    });

    const favButton = document.createElement("button");
    // TODO: add start svg
    favButton.textContent = "s";
    favButton.classList.add("btn");
    favButton.addEventListener("click", () => {
      storageManager.removeFavorite(favorite.base, favorite.target);
      favoritesList.removeChild(listItem);
    });
    rightSide.appendChild(favButton);
    listItem.appendChild(rightSide);

    return listItem;
  }

  async function getRateInformation(
    base: string,
    target: string,
  ): Promise<any> {
    const endDate = new Date();
    const startDate = new Date();

    startDate.setDate(startDate.getDate() - 1);
    if (!base || !target || base === target) return;
    try {
      const data = await frankfurterAPI.fetchHistoricalRates(
        base,
        target,
        startDate.toISOString().split("T")[0],
        endDate.toISOString().split("T")[0],
      );
      const open = data[0].rate;
      const close = data[data.length - 1].rate;
      const change = close - open;
      const changePercentage = (change / open) * 100;
      return {
        close: close,
        changePercentage: changePercentage,
      };
    } catch (error) {
      console.error(error);
    }
  }

  storageManager.addFavorite("USD", "EUR");
  storageManager.addFavorite("USD", "JPY");
  updateFavorites();
</script>

<style lang="scss">
  .top-row {
    @include flex-between;
  }
  .favorites__list {
    display: grid;
    gap: 0.75rem;
    margin-block-start: 1.25rem;
  }
</style>
<style lang="scss" is:global>
  .favorites__item {
    @include flex-between;
  }
  .favorites-item {
    &__currency-pair {
      display: flex;
      gap: var(--space-sm);
    }
    &__right-side {
      @include flex-center;
      gap: calc(var(--space-md) * 1.25);
      text-align: end;
      .percent-change {
        font-size: 10px;
        margin-top: 6px;
      }
    }
  }
</style>
