---

---

<section class="historical">
  <div class="container">
    <div id="output-container">
      <div class="rate-display">
        <div class="row">
          <div class="rate-cards">
            <div class="card--inner">
              <h3>Open</h3>
              <p id="open-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h3>Close</h3>
              <p id="close-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h3>Change</h3>
              <p
                class=""
                id="change-amount"
              >
                0.0000
              </p>
            </div>
            <div class="card--inner">
              <h3>% Change</h3>
              <p
                class=""
                id="change-percentage"
              >
                0.00%
              </p>
            </div>
          </div>
          <div class="date-range-buttons">
            <button>1D</button>
            <button>1W</button>
            <button class="active">1M</button>
            <button>3M</button>
            <button>1Y</button>
            <button>5Y</button>
          </div>
        </div>
        <ul id="rate-list"></ul>
      </div>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  import { updateElementClasses } from "@utils/generalUtils";
  const frankfurterAPI = new FrankfurterAPI();
  const outputContainer = document.getElementById(
    "output-container",
  ) as HTMLElement;
  const form = document.getElementById("fx-input") as HTMLFormElement;
  const openAmountPara = document.getElementById(
    "open-amount",
  ) as HTMLParagraphElement;
  const closeAmountPara = document.getElementById(
    "close-amount",
  ) as HTMLParagraphElement;
  const changeAmountPara = document.getElementById(
    "change-amount",
  ) as HTMLParagraphElement;
  const changePercentagePara = document.getElementById(
    "change-percentage",
  ) as HTMLParagraphElement;
  const rateList = document.getElementById("rate-list") as HTMLElement;
  const dateRangeButtons = document.querySelectorAll(
    ".date-range-buttons > button",
  );

  let dateRange = "1M";
  const dateOffsets = new Map();
  dateOffsets.set("1D", 1);
  dateOffsets.set("1W", 7);
  dateOffsets.set("1M", 30);
  dateOffsets.set("3M", 90);
  dateOffsets.set("1Y", 365);
  dateOffsets.set("5Y", 1825); // 365 * 5 = 1,825

  form?.addEventListener("input", getHistoricalInformation);

  dateRangeButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      if (btn.textContent !== dateRange) {
        updateElementClasses(dateRangeButtons, btn, "active");
        dateRange = btn.textContent;
        getHistoricalInformation();
      }
    });
  });

  async function getHistoricalInformation() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString();
    const target = formData.get("target")?.toString();
    const endDate = new Date();
    const startDate = new Date();

    startDate.setDate(startDate.getDate() - dateOffsets.get(dateRange));

    if (!base || !target) return;
    try {
      rateList.replaceChildren();
      rateList.innerHTML = `<li>Fetching data...</li>`;
      const data = await frankfurterAPI.fetchHistoricalRates(
        base,
        target,
        startDate.toISOString().split("T")[0],
        endDate.toISOString().split("T")[0],
      );
      const listItems = data.map((day) => {
        const item = document.createElement("li");
        item.textContent = `${day.date}: 1 ${day.base} = ${day.rate.toFixed(4)} ${day.quote}`;
        return item;
      });

      const open = data[0].rate;
      const close = data[data.length - 1].rate;
      const change = close - open;
      const changePercentage = (change / open) * 100;
      openAmountPara.textContent = `${open.toFixed(4)}`;
      closeAmountPara.textContent = `${close.toFixed(4)}`;
      changeAmountPara.textContent = `${change.toFixed(4)}`;
      changeAmountPara.className = `${change > 0 ? "positive" : "negative"}`;
      changePercentagePara.textContent = `${change > 0 ? "+" : ""}${changePercentage.toFixed(2)}%`;
      changePercentagePara.className = `${change > 0 ? "positive" : "negative"}`;

      rateList.replaceChildren();
      listItems.forEach((item) => rateList.appendChild(item));
    } catch (error) {
      console.error(error);
    }
  }

  getHistoricalInformation();
</script>

<style lang="scss">
  .rate-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);

    @include bp(md) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .row {
    display: flex;
    flex-direction: column;

    @include bp(lg) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .date-range-buttons {
    align-self: flex-start;
    background-color: #171719;
    border-radius: var(--radius-8);
    display: flex;
    padding: 2px;
    button {
      border-radius: var(--radius-8);
      color: #9d9d9d;
      display: flex;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: 1.2;
      padding: 0.75rem 1rem;
      text-align: center;

      &.active,
      &:hover {
        background-color: #2e2e2e;
      }
    }

    @include bp(lg) {
      align-self: unset;
    }
  }

  :global(#rate-list > li) {
    font-size: 12px;
  }
</style>
