---

---

<section class="historical">
  <div class="container">
    <div id="output-container">
      <div class="rate-display">
        <div class="row">
          <div class="rate-cards">
            <div class="card--inner">
              <h2>Open</h2>
              <p id="open-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h2>Close</h2>
              <p id="close-amount">0.0000</p>
            </div>
            <div class="card--inner">
              <h2>Change</h2>
              <p
                class=""
                id="change-amount"
              >
                0.0000
              </p>
            </div>
            <div class="card--inner">
              <h2>% Change</h2>
              <p
                class=""
                id="change-percentage"
              >
                0.00%
              </p>
            </div>
          </div>
          <div class="date-range-buttons">
            <button>1D</button>
            <button>1W</button>
            <button class="active">1M</button>
            <button>3M</button>
            <button>1Y</button>
            <button>5Y</button>
          </div>
        </div>
        <ul id="rate-list"></ul>
      </div>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  const frankfurterAPI = new FrankfurterAPI();
  const outputContainer = document.getElementById(
    "output-container",
  ) as HTMLElement;
  const form = document.getElementById("fx-input") as HTMLFormElement;
  const openAmountPara = document.getElementById(
    "open-amount",
  ) as HTMLParagraphElement;
  const closeAmountPara = document.getElementById(
    "close-amount",
  ) as HTMLParagraphElement;
  const changeAmountPara = document.getElementById(
    "change-amount",
  ) as HTMLParagraphElement;
  const changePercentagePara = document.getElementById(
    "change-percentage",
  ) as HTMLParagraphElement;
  const rateList = document.getElementById("rate-list") as HTMLElement;
  const dateRangeButtons = document.querySelectorAll(
    ".date-range-buttons > button",
  );

  form?.addEventListener("input", getHistoricalInformation);

  dateRangeButtons.forEach((btn) => {
    btn.addEventListener("click", () => {
      updateButtonClasses(btn as HTMLButtonElement);
    });
  });

  async function getHistoricalInformation() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString();
    const target = formData.get("target")?.toString();
    if (!base || !target) return;
    try {
      const data = await frankfurterAPI.fetchHistoricalRates(
        base,
        target,
        "2026-04-14",
        "2026-05-14",
      );
      const listItems = data
        .map(
          (day) =>
            `<li>${day.date}: 1 ${day.base} = <strong>${day.rate.toFixed(4)} ${day.quote}</strong></li>`,
        )
        .join("");

      const open = data[0].rate;
      const close = data[data.length - 1].rate;
      const change = close - open;
      const changePercentage = (change / open) * 100;
      openAmountPara.textContent = `${open.toFixed(4)}`;
      closeAmountPara.textContent = `${close.toFixed(4)}`;
      changeAmountPara.textContent = `${change.toFixed(4)}`;
      changeAmountPara.className = `${change > 0 ? "positive" : "negative"}`;
      changePercentagePara.textContent = `${change > 0 ? "+" : ""}${changePercentage.toFixed(2)}%`;
      changePercentagePara.className = `${change > 0 ? "positive" : "negative"}`;

      //   <ul>${listItems}</ul>
    } catch (error) {
      console.error(error);
    }
  }

  function updateButtonClasses(activeBtn: HTMLButtonElement) {
    dateRangeButtons.forEach((btn) => btn.classList.remove("active"));
    activeBtn.classList.add("active");
  }

  getHistoricalInformation();
</script>

<style lang="scss">
  .rate-cards {
    display: flex;
    gap: 1rem;
  }

  .row {
    @include flex-between;
  }

  .date-range-buttons {
    background-color: #171719;
    border-radius: var(--radius-8);
    display: flex;
    padding: 2px;
    button {
      border-radius: var(--radius-8);
      color: #9d9d9d;
      display: flex;
      font-size: 12px;
      letter-spacing: 0.5px;
      line-height: 1.2;
      padding: 0.75rem 1rem;
      text-align: center;

      &.active,
      &:hover {
        background-color: #2e2e2e;
      }
    }
  }
</style>
