---

---

<section class="historical">
  <div class="container">
    <div id="output-container">
      <div class="rate-display">
        <div class="rate-cards">
          <div class="card--inner">
            <h2>Open</h2>
            <p id="open-amount">0.0000</p>
          </div>
          <div class="card--inner">
            <h2>Close</h2>
            <p id="close-amount">0.0000</p>
          </div>
          <div class="card--inner">
            <h2>Change</h2>
            <p
              class=""
              id="change-amount"
            >
              0.0000
            </p>
          </div>
          <div class="card--inner">
            <h2>% Change</h2>
            <p
              class=""
              id="change-percentage"
            >
              0.00%
            </p>
          </div>
        </div>
        <ul></ul>
      </div>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  const frankfurterAPI = new FrankfurterAPI();
  const outputContainer = document.getElementById(
    "output-container",
  ) as HTMLElement;
  const form = document.getElementById("fx-input") as HTMLFormElement;
  const openAmountPara = document.getElementById(
    "open-amount",
  ) as HTMLParagraphElement;
  const closeAmountPara = document.getElementById(
    "close-amount",
  ) as HTMLParagraphElement;
  const changeAmountPara = document.getElementById(
    "change-amount",
  ) as HTMLParagraphElement;
  const changePercentagePara = document.getElementById(
    "change-percentage",
  ) as HTMLParagraphElement;

  form?.addEventListener("input", getHistoricalInformation);

  async function getHistoricalInformation() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString();
    const target = formData.get("target")?.toString();
    if (!base || !target) return;
    try {
      const data = await frankfurterAPI.fetchHistoricalRates(
        base,
        target,
        "2026-04-14",
        "2026-05-14",
      );
      const listItems = data
        .map(
          (day) =>
            `<li>${day.date}: 1 ${day.base} = <strong>${day.rate.toFixed(4)} ${day.quote}</strong></li>`,
        )
        .join("");

      const open = data[0].rate;
      const close = data[data.length - 1].rate;
      const change = close - open;
      const changePercentage = (change / open) * 100;
      openAmountPara.textContent = `${open.toFixed(4)}`;
      closeAmountPara.textContent = `${close.toFixed(4)}`;
      changeAmountPara.textContent = `${change.toFixed(4)}`;
      changeAmountPara.className = `${change > 0 ? "positive" : "negative"}`;
      changePercentagePara.textContent = `${change > 0 ? "+" : ""}${changePercentage.toFixed(2)}%`;
      changePercentagePara.className = `${change > 0 ? "positive" : "negative"}`;

      //   <ul>${listItems}</ul>
    } catch (error) {
      console.error(error);
    }
  }

  getHistoricalInformation();
</script>

<style lang="scss">
  .rate-cards {
    display: flex;
    gap: 1rem;
  }
</style>
