---
import { Icon } from "astro-icon/components";
import currencies from "@data/currencies.json";
import CurrencyOption from "./CurrencyOption.astro";
const { defaultBase = "USD", defaultTarget = "EUR" } = Astro.props;
---

<section class="input">
  <div class="container">
    <h2>Check the Rate</h2>
    <div class="card">
      <form id="fx-input">
        <div class="form-group card--inner">
          <label for="base-amount">Send</label>
          <input
            type="number"
            id="base-amount"
            name="base-amount"
            placeholder="0"
          />
          <select
            name="base"
            id="base-currency"
          >
            <button class="select-button">
              <selectedcontent></selectedcontent>
            </button>
            {
              currencies.map((currency) => (
                <CurrencyOption
                  currencyCode={currency.iso_code}
                  currencyName={currency.name}
                  defaultCode={defaultBase}
                />
              ))
            }
          </select>
        </div>
        <button
          class="currency-swap"
          type="button"
          aria-label="switch currencies"
        >
          <Icon
            name="icon-exchange-vertical"
            aria-hidden="true"
          />
        </button>
        <div class="form-group card--inner">
          <label for="output-amount">Receive</label>
          <output
            id="output-amount"
            name="output-amount"
            for="base-amount base-currency target-currency"
          >
            0
          </output>
          <select
            name="target"
            id="target-currency"
          >
            <button class="select-button">
              <selectedcontent></selectedcontent>
            </button>
            {
              currencies.map((currency) => (
                <CurrencyOption
                  currencyCode={currency.iso_code}
                  currencyName={currency.name}
                  defaultCode={defaultTarget}
                />
              ))
            }
          </select>
        </div>
      </form>
      <p id="output">1 USD = 0.8530 EUR</p>
    </div>
  </div>
</section>

<script>
  import { FrankfurterAPI } from "@lib/frankfurter_api";
  import { convertAmount } from "@utils/fxMath";

  const frankfurterAPI = new FrankfurterAPI();
  const form = document.getElementById("fx-input") as HTMLFormElement;
  const results = document.getElementById("output") as HTMLParagraphElement;
  const baseAmount = document.getElementById("base-amount") as HTMLInputElement;
  const outputAmount = document.getElementById(
    "output-amount",
  ) as HTMLOutputElement;
  const currencySwapBtn = document.querySelector(
    ".currency-swap",
  ) as HTMLButtonElement;

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();
    updateOutput;
  });

  form?.addEventListener("input", updateOutput);

  async function updateOutput() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString();
    const target = formData.get("target")?.toString();

    if (!base || !target) return;
    if (base === target) {
      updateResults(base, target, 1);
      updateTargetAmount(baseAmount.valueAsNumber, 1);
      return;
    }

    results.textContent = `Fetching rates ...`;

    try {
      const data = await frankfurterAPI.fetchFxRates(base, target);
      updateResults(data.base, data.quote, data.rate);
      const baseAmt = baseAmount.valueAsNumber;
      if (baseAmt) updateTargetAmount(baseAmt, data.rate);
    } catch (error) {
      console.error("Error fetching FX data:", error);
      results.textContent = `Failed to fetch rates. Please try again.`;
    }
  }

  function updateTargetAmount(baseAmount: number, rate: number) {
    const result = convertAmount(baseAmount, rate);
    outputAmount.value = result.toLocaleString(undefined, {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    });
  }

  function updateResults(
    baseCurrency: string,
    targetCurrency: string,
    rate: number,
  ) {
    results.textContent = `1 ${baseCurrency} = ${rate.toFixed(4)} ${targetCurrency}`;
  }

  function swapCurrencies() {
    const formData = new FormData(form);
    const base = formData.get("base")?.toString() as string;
    const target = formData.get("target")?.toString() as string;
    const selectBase = document.getElementById(
      "base-currency",
    ) as HTMLSelectElement;
    const selectTarget = document.getElementById(
      "target-currency",
    ) as HTMLSelectElement;

    selectBase.value = target;
    selectTarget.value = base;

    const targetVal = Number(outputAmount.value.replace(",", ""));

    baseAmount.valueAsNumber = targetVal;

    updateOutput();
  }

  currencySwapBtn?.addEventListener("click", swapCurrencies);
</script>

<style lang="scss">
  label {
    display: block;
    flex-basis: 100%;
    margin-bottom: 1.25rem;
  }

  input {
    background: none;
    color: inherit;
    font-family: inherit;
    border: none;
    outline: none;
  }

  input,
  output {
    flex: 1;
  }

  select {
    background-color: #2e2e2e;
    color: var(--color-body-text-light);
    cursor: pointer;
    place-items: center;

    &,
    &::picker(select) {
      appearance: base-select;
    }

    &::picker-icon {
      transition: transform 0.3s;
    }

    &:open {
      &::picker-icon {
        transform: rotate(180deg);
      }
    }
  }

  .select-button {
    align-items: center;
    block-size: 2.5rem;
    display: flex;
    inline-size: 100%;
  }

  selectedcontent {
    align-items: center;
    display: flex;
    gap: var(--space-sm);
  }

  :global(selectedcontent > span.currency-name) {
    display: none;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: clamp(var(--space-md), 0.8239rem + 0.7512vw, var(--space-lg));
    padding-bottom: clamp(
      var(--space-md),
      0.912rem + 0.3756vw,
      calc(var(--space-md) * 1.25)
    );
    @include bp(md) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: clamp(
      var(--space-md),
      0.912rem + 0.3756vw,
      calc(var(--space-md) * 1.25)
    );
  }

  .currency-swap {
    align-items: center;
    background: #202022;
    border: 1px solid #2e2e2e;
    border-radius: var(--radius-8);
    display: flex;
    justify-content: center;
    margin: auto;
    min-height: 3rem;
    min-width: 3rem;

    &:hover {
      background: #2e2e2e;
    }

    @include bp(md) {
      transform: rotate(90deg);
    }
  }

  .form-group {
    display: flex;
    flex-wrap: wrap;
    padding: clamp(
      var(--space-md),
      0.912rem + 0.3756vw,
      calc(var(--space-md) * 1.25)
    );
  }
</style>
